/* Колір основного тексту
#ffffff (білий); #212121 (чорний); (117, 117, 117, 1) #757575 (сірий прозрачьний); #2196F3(синій акцент);(255, 255, 255, 0.6)-мейл і 
адрес в footer;
*/
/*Основні кольори фону 
#2F303A (background-color footer);
#F5F4FA (background-color main);#2F303A (hero background-color);
 */
 /* :root {
    --primery-text-color:#757575;
    --title-text-color:#212121;
    --accent-text-color:#2196F3;
    --primary-bg-color:#ffffff;
    --primary-footer-color:#2F303A;
    --primery-footer-text-color:rgba(255, 255, 255, 0.6);
    --primery-button-color:#F5F4FA;
 }
 html {
    box-sizing: border-box;
 }

 *,
 *::before
 *::after {
    box-sizing: inherit;}
 p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
 }
 ul {
    margin: 0;
    padding-left: 0;
 }
 img {
    display: block;
    }

 button {
    cursor: pointer;
 }
 body {
    background-color:var(--primary-bg-color) ;
    color:var(--primery-text-color);
    font-family: 'Roboto', sans-serif;
    } */
    /* Universals classes */
    /* .container {
        width: 1200px;
        padding: 0px 15px;
        margin: 0 auto;
        
    }
    .general-footer-container {
        display: flex;
        width: 1200px;
        padding: 0px 15px;
        margin: 0 auto;
    }
    .footer-container {
        
        justify-content: center;
        align-items: center;
    }
    .footer-container:not(:last-child) {
        margin-right: 70px;

    }
    .list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .link {
        position: relative;

        text-decoration: none;
        padding-top: avto;
        
    } */
    /* --------Header--------- */
    /* .main-nav {
        display: flex;
        align-items: center;
    }
    .header-border {
    border-bottom: 1px solid #ECECEC;
    }
    .logo {
        color:var(--title-text-color);
        padding: 25px 0px;
        display: block;
        text-decoration: none;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
        }
    .logo:hover {
            color:var(--accent-text-color);
            text-decoration: none;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
        }
    .logo-web {
        color:var(--accent-text-color);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
    } */
    /* ----------Header----------- */
     /* site-nav */
     /* .site-nav {
        display: flex;
        margin-left: 93px;
     }
     
     .site-nav .item:not(:last-child) {
        margin-right: 40px;
     }
     
    .site-nav .link {
    
    display: block;
    padding: 32px 0px;

    color:var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
    }

    .site-nav .link:hover, 
    .site-nav .link:focus{
        color:var(--accent-text-color);  
    }
    

    .menu-link {
        position: relative;
    }
    .site-nav .scale-none {
        color: #2196F3;
    }
    .scale-none::after {
        content: "";
        
        
        
        position: absolute;

        bottom: 0;
        left: 0;

        transform: scaleX(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1 );
        width: 100%;
        height: 4px;

        
        background: #2196F3;
        border-radius: 2px;
} */

    /* .menu-link::after {
        content: "";

        position: absolute;

        bottom: 0;
        left: 0;

        display: block;

         

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1 );
        transform: scaleX(0);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1 );
        width: 100%;
        height: 4px;

        background: #2196F3;
        border-radius: 2px;
    }
    .menu-link:hover::after {
        
       transform: scaleX(1);
    } */
     

    /* .site-tel {
        display: flex;
        margin-left: auto;
        align-items: center;
    }
    .site-tel .link {
        display: block;
        padding: 32px 0px;
    }
    
    .site-tel-icon {
        fill: currentColor;
        width: 16px;
        height: 12px;
        margin-right: 10px;
        background-position: center;
    }
    .site-tell-icon {
        fill: currentColor;
        width: 10px;
        height: 16px;
        margin-right: 10px;
        background-position: center;
    }
    .site-tel .item + .item {
        margin-left: 40px;
    }
    .site-tel .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primery-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
    }
    .site-tel .link:hover,
    .site-tel .link:focus {
        fill:var(--accent-text-color);
        color:var(--accent-text-color)
        
    }
    .site-tell .link:hover,
    .site-tell .link:focus {
        fill:var(--accent-text-color);
        color:var(--accent-text-color)
    } */
/* ----------Hero----------- */
   
         /* .overlay {
            text-align: center;
            padding-top: 200px;
            padding-bottom: 200px;

            max-width: 1600px;
            height: 600px;
            margin-left: auto;
            margin-right: auto;
            background-color: #2F303A;
            outline: 1px solid #ECECEC; 
             background-image: linear-gradient(
                to right, 
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4) 
                ),
                url(../img/overlay.jpg);

                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
         } */
    /* .hero-title {
        color: var(--primary-bg-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        margin-top: 0;
        margin-bottom: 40px;
        }
    .button {
        border-radius: 4px;
        padding: 10px 24px;
        min-width: 67px;

        color: var(--title-text-color);
        background-color: var(--primery-button-color);

        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;

        cursor: pointer;
        border: transparent;
        text-align: center;

        transition-property: color backround-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
       }
       .button:hover,
       .button:focus {
        color: var(--primary-bg-color);
        background-color: var(--accent-text-color);
       }
       .button-portfolio {
        display: flex;
        justify-content: center;
       } */

       /* ----------Sectoin----------- */
    /* section */
    /* .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .section-comand { 
        background-color: #F5F4FA;
    }
    .section-title {
        padding-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }
    .section-title.centered {
        text-align: center;
    }
    .section-top {
        padding-top: 0;
    } */
    /* ----------Feature----------- */
    /* feature */
    /* .feature-list .title {
        color:var(--title-text-color) ;
    }
    .feature-list {
         display: flex;
    }
    .list-item::before {
        display: block;
        content:"";
        height: 120px;
        margin-bottom: 30px;
        margin-right: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
    } */
    /* .icon-delivery::before {
        background-image: url(../img/antenna.svg);
        background-size: 65.32px 70px;
    }
    .icon-clock::before {
        background-image: url(../img/clock.svg);
        background-size: 66.96px 70px;
    }
    .icon-comp::before {
        background-image: url(../img/comp.svg);
        background-size: 70px 53.69px;
    }
    .icon-astronaut::before {
        background-image: url(../img/astronaut.svg);
        background-size: 54.83px 60.66px;
    } */
    /* .title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-color);
    }
    .feature-text {
        padding: 10px 0px;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--primery-text-color);
    } */
    /* ----------Work exsmples----------- */
    /* examples */
    /* .work-list {
        position: relative;
     width: 1200px;
     display: flex; 
    }
    .work-list .title { 
        padding: 188px 0px;  
    }
    .work-items {
        position: relative;
        justify-content: center;
        
    }
    .work-text {
        position: absolute;
        top: 85%;
        left: 50%;
       
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        
         color: var(--primary-bg-color);
    }
    .work-items::before{
        position: absolute;
        top: 73%;
        
        content: "";
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
    }
    .work-list .item {
     margin-left: 30px;
    
    }
    .work-list .item:first-child {
        margin-left: 0px;
    } */
    
    /* ----------Team----------- */
    /* .team-list {
        display: flex;    
    }
    .team-border {

    }
    .team-element {
        width: 270px;
        background-color: var(--primary-bg-color);
        margin-right: 30px;
        margin-bottom: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

    }
    .team-item {
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1875;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }
    .team-text {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 16px;
        line-height: 1.1875;
        letter-spacing: 0.03em;
        color: var(--primery-text-color);
    }
    .team-soc-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .team-soc-items {
        width: 44px;
        height: 44px;
    }
    .team-soc-items:not(:last-child) {
      margin-right: 10px;
    }
    .team-soc-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:#AFB1B8;

        transition-property: fill backround-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
    }
    .team-soc-link:hover,
    .team-soc-link:focus {
        background-color: var(--accent-text-color);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:#AFB1B8;
    }
    .team-icon {
        width: 20px;
        height: 20px; 
        fill:currentColor;

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
    }
    .team-soc-link:hover .team-icon,
    .team-soc-link:focus .team-icon {
     fill: var(--primary-bg-color)
    } */
  /*---------Company----------  */
  /* .company-list {
    display: flex;
    list-style: none;
    }
 .company-items  {
 }
 .company-items:not(:last-child) {
    margin-right: 30px;
 }
 .company-link  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
    }
    .company-link:hover,
    .company-link:focus {
        border-color: var(--accent-text-color);
    }
    .company-icon {
        width: 106px;
        height: 60px;
        fill: currentColor;

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
    }
    .company-link:hover .company-icon,
    .company-link:focus .company-icon {
        fill: var(--accent-text-color);
    } */
    
     /* ----------Footer----------- */
/* .logo-footer {
    padding-bottom:  28px;
    display: block;
    color:var(--primary-bg-color);
    text-decoration: none;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
        
}
.logo-footer:hover,
.logo-footer:focus {
    color: var(--accent-text-color);
} */
/* .footer {
    background-color: var(--primary-footer-color);
    padding: 60px 0px;
}
.footer-link {
    margin: 12px 0px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primery-footer-text-color)

    
}


.footer-link:hover,
.footer-link:focus {
    color: var(--accent-text-color);
}
.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primary-bg-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
}

.footer-text {
margin-top: 10px;
margin-bottom: 30px;

font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}
.footer-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.footer-soc-items {
width: 44px;
height: 44px;
}
.footer-soc-items:not(:last-child) {
    margin-right: 10px;
  }
.footer-soc-link {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:var(--primary-bg-color);

    transition-property: color fill backround-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
}
.footer-soc-link:hover,
.footer-soc-link:focus {
background-color: var(--accent-text-color);
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;

}
.footer-icon {
    width: 20px;
    height: 20px; 
    fill:currentColor;

   
}
.footer-soc-link:hover .team-icon,
.footer-soc-link:focus .team-icon {
 fill: var(--primary-bg-color)
}

.footer-input {
box-sizing: border-box;

background-color: transparent;

margin-right: 12px;

width: 358px;
height: 50px;

border: 1px solid rgba(255, 255, 255, 0.3);

border-radius: 4px;
}

.footer-input::placeholder {
width: 47px;
height: 20px;

font-weight: 400;
font-size: 16px;
line-height: 20px;



display: flex;
align-items: center;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.footer-form-item {
font-weight: 400;
font-size: 16px;
line-height: 20px;

cursor: pointer;

padding-left: 16px;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.footer-form-item:focus,
.footer-form-item:hover {
    outline: transparent;
}

.footer-button {
   position: relative;
   position: absolute;

    border-radius: 4px;
    
    width: 200px;
    height: 50px; 

    color: var(--primary-bg-color);
    background-color: var(--accent-text-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;

    cursor: pointer;
    border: transparent;
    

}

.fotter-btn-text{
    position: absolute;
    
    top: 10px;
    right: 62px;

}

.footer-button::after {
    content: "";

    position: absolute;
    top: 13px;
    right: 28px;


    width: 24px;
    height: 24px;

     background-image: url(../img/send.svg);
} */

 /* ----------Portfolio----------- */
 /* .head {
    border-bottom: 1px solid #ececec;
 }
 
 .foto-item {
margin-left: 24px;
margin-top: 20px;
margin-bottom: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color);
 }
 .foto-text { 
 margin-left: 24px;
margin-bottom: 20px;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--primery-text-color)
} */
/* -----------Flex----------- */
/* .test-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-button {
    margin-bottom: 50px;
    margin-right: 8px;

}
.flex-element {
    width: 370px;

    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;

    transition-property: color backround-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
    
}

 .foto-grant-text {
        position: relative; 
        overflow: hidden;    
}
.foto-hover-text {
        position: absolute;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%); 

        width: 322px;
        height: 168px;
      
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;

        opacity: 0;

        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1 );
    

        
        
        color: var(--primary-bg-color);
     }

 .flex-element:hover .foto-hover-text {
    opacity: 1;

     } 
 .flex-element:hover .foto-grant-text::before {
        opacity: 1;
     }
.flex-element:hover .foto-grant-text::before {
        transform: translateY(0);
     }
  .foto-grant-text::before {
        content: "";
        position: absolute;
        display: inline-block;

        width: 370px;
        height: 294px;
        opacity: 0;

        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1 ) ;
        background-color: rgba(33, 150, 243, 0.9);
     }
    
.flex-element:nth-child(3n) {
    margin-right: 0px;
}
.flex-element:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.flex-element:hover,
.flex-elemeny:focus {
    border: 1px solid #EEEEEE;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} */
/* -----------Backdrop------------ */
/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1 );
    
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50% -50%) scale(0.9);
} */
/* .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1 );

    width: 528px;
    min-height: 581px;

    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.close-button {
    position: absolute; 
    top: 8px; 
    right: 8px; 
    width: 30px; 
    height: 30px; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 50%; 
    display: flex;
    background-color: #ffffff;
   
}

.close-modal { 
    width: 18px; 
    height: 18px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1 );
    }



.close-button:hover {
 fill: var(--accent-text-color);
 
}


.modal-heading {
font-weight: 700px;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 30px;

color: #212121;

}

.modal-input {
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
   
    cursor: pointer;
    padding-left: 42px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1 );
}

.modal-input:focus,
.modal-input:hover {
border-color:#2196F3;
outline: transparent;


}

.modal-input:focus + svg,
.modal-input:hover + svg {
    fill: var(--accent-text-color);
    
}

.modal-input-group {
    margin-bottom: 28px;
}

.modal-input-group label {
width: 22px;
height: 14px;

display: block;

margin-bottom: 4px;

font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;

color: #757575;
}

.modal-text {
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
   
    padding:12px 16px; 

    resize: none;
}

.modal-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1 );
    
    color: rgba(117, 117, 117, 0.5);
}

.modal-text:focus::placeholder,
.modal-text:hover::placeholder {
    color: var(--accent-text-color);

}

.modal-check {
width: 100%;
height: 24px;

display: block;

font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: #757575;


transition:  250ms cubic-bezier(0.4, 0, 0.2, 1 );
}


.modal-link {
    color: var(--accent-text-color);
    margin-left: 7px;
}

.modal-input-wrapper {
    position: relative;
}

.modal-input-icon {
    position: absolute;

    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1 );
}

.modal-check-label{
    position: relative;   
}

.modal-check-label::before {   

content: "";

width: 16px;
height: 16px;



border: 2px solid #212121;
border-radius: 2px;

margin-right: 10px;
}

label.modal-check-label {
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.modal-politic-check:checked + label::before {
border: none;
background-image: url(../img/check.svg);



width: 16px;
height: 15px;

transition: tracnsform 250ms cubic-bezier(0.4, 0, 0.2, 1 );


}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;

    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    overflow: hidden;

    opacity: 0;

}

.modal-button {
    width: 200px;
    height: 50px;

    margin-top: 40px;
    margin-left: 120px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 30px; 
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    border: none;
    
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    color: var(--primary-bg-color);
} */
