.head {
    border-bottom: 1px solid #ececec;
 }
 .foto {
    &-item {
margin-left: 24px;
margin-top: 20px;
margin-bottom: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: $title-text-color;
}

&-text { 
    margin-left: 24px;
   margin-bottom: 20px;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.03em;
   color: $primery-text-color;
   }
 }
 